.canvas_container {
  position: relative;

  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
